<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="AutoImportSettings">
    <option name="autoReloadType" value="SELECTIVE" />
  </component>
  <component name="ChangeListManager">
    <list default="true" id="6582eb55-68a3-4592-82c0-17bed7999d2f" name="Changes" comment="">
      <change beforePath="$PROJECT_DIR$/src/test.http" beforeDir="false" afterPath="$PROJECT_DIR$/src/test.http" afterDir="false" />
    </list>
    <option name="SHOW_DIALOG" value="false" />
    <option name="HIGHLIGHT_CONFLICTS" value="true" />
    <option name="HIGHLIGHT_NON_ACTIVE_CHANGELIST" value="false" />
    <option name="LAST_RESOLUTION" value="IGNORE" />
  </component>
  <component name="FileTemplateManagerImpl">
    <option name="RECENT_TEMPLATES">
      <list>
        <option value="Class" />
        <option value="HTML File" />
      </list>
    </option>
  </component>
  <component name="Git.Settings">
    <option name="RECENT_GIT_ROOT_PATH" value="$PROJECT_DIR$" />
  </component>
  <component name="MavenImportPreferences">
    <option name="generalSettings">
      <MavenGeneralSettings>
        <option name="mavenHomeTypeForPersistence" value="WRAPPER" />
      </MavenGeneralSettings>
    </option>
  </component>
  <component name="McpProjectServerCommands">
    <commands />
    <urls />
  </component>
  <component name="ProblemsViewState">
    <option name="selectedTabId" value="CurrentFile" />
  </component>
  <component name="ProjectColorInfo">{
  &quot;associatedIndex&quot;: 0,
  &quot;fromUser&quot;: false
}</component>
  <component name="ProjectId" id="3Bd78nXNPrdvPbd2y87ZQUYaY1P" />
  <component name="ProjectViewState">
    <option name="hideEmptyMiddlePackages" value="true" />
    <option name="showLibraryContents" value="true" />
  </component>
  <component name="PropertiesComponent">{
  &quot;keyToString&quot;: {
    &quot;DefaultHtmlFileTemplate&quot;: &quot;HTML File&quot;,
    &quot;HTTP Request.All in test.executor&quot;: &quot;Run&quot;,
    &quot;HTTP Request.test | #1.executor&quot;: &quot;Run&quot;,
    &quot;JavaScript Debug.index.html.executor&quot;: &quot;Run&quot;,
    &quot;ModuleVcsDetector.initialDetectionPerformed&quot;: &quot;true&quot;,
    &quot;RequestMappingsPanelOrder0&quot;: &quot;0&quot;,
    &quot;RequestMappingsPanelOrder1&quot;: &quot;1&quot;,
    &quot;RequestMappingsPanelWidth0&quot;: &quot;75&quot;,
    &quot;RequestMappingsPanelWidth1&quot;: &quot;75&quot;,
    &quot;RunOnceActivity.MCP Project settings loaded&quot;: &quot;true&quot;,
    &quot;RunOnceActivity.ShowReadmeOnStart&quot;: &quot;true&quot;,
    &quot;RunOnceActivity.TerminalTabsStorage.copyFrom.TerminalArrangementManager.252&quot;: &quot;true&quot;,
    &quot;RunOnceActivity.git.unshallow&quot;: &quot;true&quot;,
    &quot;RunOnceActivity.typescript.service.memoryLimit.init&quot;: &quot;true&quot;,
    &quot;Spring Boot.ReturnsystemApplication.executor&quot;: &quot;Run&quot;,
    &quot;com.intellij.ml.llm.matterhorn.ej.ui.settings.DefaultModelSelectionForGA.v1&quot;: &quot;true&quot;,
    &quot;git-widget-placeholder&quot;: &quot;main&quot;,
    &quot;junie.onboarding.icon.badge.shown&quot;: &quot;true&quot;,
    &quot;kotlin-language-version-configured&quot;: &quot;true&quot;,
    &quot;last_opened_file_path&quot;: &quot;/Users/atharvakhandekar/Downloads/returnsystem 3&quot;,
    &quot;node.js.detected.package.eslint&quot;: &quot;true&quot;,
    &quot;node.js.detected.package.tslint&quot;: &quot;true&quot;,
    &quot;node.js.selected.package.eslint&quot;: &quot;(autodetect)&quot;,
    &quot;node.js.selected.package.tslint&quot;: &quot;(autodetect)&quot;,
    &quot;nodejs_package_manager_path&quot;: &quot;npm&quot;,
    &quot;project.structure.last.edited&quot;: &quot;Libraries&quot;,
    &quot;project.structure.proportion&quot;: &quot;0.15&quot;,
    &quot;project.structure.side.proportion&quot;: &quot;0.2&quot;,
    &quot;to.speed.mode.migration.done&quot;: &quot;true&quot;,
    &quot;vue.rearranger.settings.migration&quot;: &quot;true&quot;
  }
}</component>
  <component name="RunDashboard">
    <option name="configurationStatuses">
      <map>
        <entry key="HttpClient.HttpRequestRunConfigurationType">
          <value>
            <map>
              <entry key="All in test" value="STOPPED" />
              <entry key="test | #1" value="STOPPED" />
            </map>
          </value>
        </entry>
      </map>
    </option>
  </component>
  <component name="RunManager" selected="Spring Boot.ReturnsystemApplication">
    <configuration name="All in test" type="HttpClient.HttpRequestRunConfigurationType" factoryName="HTTP Request" temporary="true" path="$PROJECT_DIR$/src/test.http">
      <method v="2" />
    </configuration>
    <configuration name="test | #1" type="HttpClient.HttpRequestRunConfigurationType" factoryName="HTTP Request" temporary="true" nameIsGenerated="true" path="$PROJECT_DIR$/src/test.http" executionIdentifier="#1" runType="Run single request">
      <method v="2" />
    </configuration>
    <configuration name="index.html" type="JavascriptDebugType" temporary="true" nameIsGenerated="true" uri="http://localhost:63342/returnsystem 3/returnsystem/static/index.html" useBuiltInWebServerPort="true">
      <method v="2" />
    </configuration>
    <configuration name="ReturnsystemApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
      <module name="returnsystem" />
      <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.returnsystem.ReturnsystemApplication" />
      <method v="2">
        <option name="Make" enabled="true" />
      </method>
    </configuration>
    <recent_temporary>
      <list>
        <item itemvalue="HTTP Request.test | #1" />
        <item itemvalue="JavaScript Debug.index.html" />
        <item itemvalue="HTTP Request.All in test" />
      </list>
    </recent_temporary>
  </component>
  <component name="SharedIndexes">
    <attachedChunks>
      <set>
        <option value="bundled-jdk-30f59d01ecdd-2fc7cc6b9a17-intellij.indexing.shared.core-IU-253.32098.37" />
        <option value="bundled-js-predefined-d6986cc7102b-9b0f141eb926-JavaScript-IU-253.32098.37" />
      </set>
    </attachedChunks>
  </component>
  <component name="TaskManager">
    <task active="true" id="Default" summary="Default task">
      <changelist id="6582eb55-68a3-4592-82c0-17bed7999d2f" name="Changes" comment="" />
      <created>1774806937715</created>
      <option name="number" value="Default" />
      <option name="presentableId" value="Default" />
      <updated>1774806937715</updated>
      <workItem from="1774806939020" duration="3869000" />
      <workItem from="1774810830552" duration="36000" />
      <workItem from="1774840240626" duration="10344000" />
      <workItem from="1774854090681" duration="10985000" />
      <workItem from="1774876892098" duration="34000" />
      <workItem from="1774877002558" duration="46000" />
      <workItem from="1774885700143" duration="3583000" />
      <workItem from="1774940391711" duration="2240000" />
      <workItem from="1775012767986" duration="6058000" />
      <workItem from="1775020978575" duration="3707000" />
      <workItem from="1775407175081" duration="552000" />
      <workItem from="1775589445694" duration="442000" />
      <workItem from="1775592586148" duration="142000" />
      <workItem from="1775618483355" duration="4776000" />
      <workItem from="1775763624727" duration="9939000" />
      <workItem from="1776228571586" duration="641000" />
      <workItem from="1776278539275" duration="3433000" />
      <workItem from="1776282676479" duration="18000" />
    </task>
    <servers />
  </component>
  <component name="TypeScriptGeneratedFilesManager">
    <option name="version" value="3" />
  </component>
</project>